* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;

	font-family: sans-serif;
}

:root {
	--primary-color: #565555;
	--secondary-color: #969697;
	--background-color: #faf8f8;
	--white-color: #ffffff;
}

header {
	background-color: var(--primary-color);
	display: flex;
	justify-content: center;
	padding: 0.5rem 2rem;
	position: fixed;
	top: 0;
	width: 100%;
	color: var(--white-color);
}

main {
	background-color: #faf8f8;
	margin-top: 3rem;
	padding: 1rem;
}

.drag-drop-zone {
	padding: 3rem;
	text-align: center;
	border: 4px dashed var(--secondary-color);
	color: var(--secondary-color);
}

.gallery-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	grid-auto-rows: 100px;
	gap: 1rem;
	min-height: 100vh;
}

.gallery-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
