* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: sans-serif;
}

:root {
	--primary-color: #565555;
	--secondary-color: #969697;
	--background-color: #faf8f8;
	--green-color: #c7f7e7;
	--white-color: #ffffff;
}

header {
	background-color: var(--primary-color);
	display: flex;
	justify-content: center;
	padding: 0.5rem 2rem;
	position: fixed;
	top: 0;
	width: 100%;
	color: var(--white-color);
}

main {
	background-color: var(--background-color);
	margin-top: 3rem;
	padding: 1rem;
	height: calc(100vh - 3rem);
}

.drag-drop-zone {
	padding: 3rem;
	text-align: center;
	border: 4px dashed var(--secondary-color);
	color: var(--secondary-color);
	position: relative;
	z-index: 20;
}

.gallery-container {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-wrap: wrap;
	gap: 1rem;
	padding-top: 2rem;
}

.loading-bar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	background-color: var(--green-color);
	width: 0;
	z-index: 10;
	visibility: hidden;
}

.gallery-img {
	max-width: 400px;
	object-fit: cover;
}
